html {
  scroll-behavior: smooth;
}

#overlay {
  position: relative;
  padding: 0px;
}

.bg-custom-gray {
  background-color: rgba(52,58,64, 0.95);
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-logo {
  font-size: 50px;
  fill: #7dccff;
}

.input-box-indent {
  text-indent: 12px;
}

.link-format {
  color: #ffffff;
  text-decoration: none;
}

.link-format:hover {
  color: #7dccff;
  text-decoration: none;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
