<nav class="navbar fixed-top bg-custom-gray stroke navbar-expand-sm col-12 card-shadow">

    <button class="navbar-toggler navbar-light mx-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>

    <a id="logoLink" class="navbar-brand ml-3" href="/"><img id="logo" height="50px" src="/img/white_logo_transparent_background.png"></img></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-3 pl-3 mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services.html">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://gitlab.parashar.dev">Gitlab</a>
            </li>
        </ul>
    </div>
</nav>