<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-3">
                <a class="navbar-brand" href="#"><img class="img-fluid" src="/img/white_logo_transparent_background.png"></img></a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav px-3 text-uppercase font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://gitlab.parashar.dev">Gitlab</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>